@keyframes header-ani {
    from {color: var(--accent-dark)}
    to {color: var(white)}
}

@keyframes general-ani {
    from {color: var(--accent-light)}
    to {color: var(--accent-dark)}
}

@keyframes board-ani {
    from {border-color: var(--accent-light);
          border-width: 0;}
    to {border-color: var(--accent-dark);
        border-width: .6vmin;}
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    /* my color styles/accents variables go here
    use --name-convention */
    --accent-light: #BCF8F2;
    --accent-dark: #212732;
}

header {
    font-size: 7vmin;
    padding: 2vmin;
    background-color: var(--accent-dark);
    color: white;
    text-align: center;
    letter-spacing: 0.4vmin;
    animation-name: header-ani;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

body {
    background-color: var(--accent-light);
}

#turn {
    font-size: 4.5vmin;
    color: var(--accent-dark);
    font-weight: bold;
    text-align: center;
    animation-name: general-ani;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

#gameboard {
    padding-top: 4vmin;
    padding-bottom: 4vmin;
    font-size: 0;
    align-items: center;
}

.row {
    display: flex;
}

.board {
    width: 12vmin;
    height: 12vmin;
    padding: 0%;
    /* border: .6vmin solid var(--accent-light);; */
    border-radius: 1.4vmin;
    background: none;
    /* background: var(--accent-dark); */
    color: var(--accent-dark);
    font-size: 5vmin;
    font-weight: bold;
    animation-name: board-ani;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#reset {
    font-size: 3vmin;
    font-weight: bold;
    padding: 2vmin;
    margin-top: 4vmin;
    border: .7vmin solid var(--accent-dark);
    color: black;
    background-color: var(--accent-light);
    border-radius: 2vmin;
    outline: none;
    cursor: pointer;
    animation-name: general-ani;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#gameboard, #turn, main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Game tiles */
#board1 {
    border-left: 0;
    border-top: 0;
}
#board2 {
    border-top: 0;;
}
#board3 {
    border-right: 0;
    border-top: 0;
}
#board4 {
    border-left: 0;
}
#board6 {
    border-right: 0;
}
#board7 {
    border-left: 0;
    border-bottom: 0;
}
#board8 {
    border-bottom: 0;
}
#board9 {
    border-bottom: 0;
    border-right: 0;
}